{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>
    <div class="featured container no-gutter">
        <div class="row posts">
            {% for produit in produits %}
                <div class="item new col-md-4">
                    <div class="featured-item">
                        <img src="{{ produit.image }}"  alt="image de l'article"></a>
                        <h4>{{ produit.description }}</h4>
                        <h6>{{ produit.prix }}</h6>
                        <div class="main-button">
                            <a href="{{ path('cart_add', {'id': produit.id}) }}">Panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
